canvas#intrusionChart {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.chart-legend {
    font-size: 14px;
    margin-top: 15px;
}

.chart-legend ul {
    list-style-type: none;
    padding: 0;
}

.chart-legend li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

.dot-sqli { background-color: rgba(255, 99, 132, 0.6); }
.dot-xss { background-color: rgba(54, 162, 235, 0.6); }
.dot-dos { background-color: rgba(255, 206, 86, 0.6); }
.dot-rfi { background-color: rgba(75, 192, 192, 0.6); }
.dot-icmp { background-color: rgba(153, 102, 255, 0.6); }


.navbar-light .navbar-brand {
    color: #000000;
}

.navbar-dark .navbar-brand {
    color: #ffffff;
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #2c2c2c;
    color: #ffffff;
}

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
}

.list-group-item {
    background-color: inherit;
    color: inherit;
}